/* Reset */
.md-header,
.md-tabs {
	background: transparent;
}
.md-typeset .headerlink {
	display: none;
}

/**
 * Layout
 */

/* Container */
html,
body {
	height: 100%;
}
body {
	background: var(--carbon-dark-d);
	color: var(--carbon-light-d);
}

/* Entire page content */
#home-wrap {
	/* margin-bottom: 6rem; */
}

/* Full-page blocks */
.page-block {
	/* border: solid 1px brown; */
	min-height: 100vh;
	padding: 6rem 0;
	position: relative;
}
.page-block:not(.top) {
	align-content: end;
}

/* Vertical sections for when we want to divide a full-page block - NOT USED */
.page-block .vertical-sections {
	/* border: solid 1px blue; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

/* Text width  */
p {
	max-width: 40rem;
}
.text-wide {
	/* border: solid 1px red; */
	max-width: 50rem;
}
.text-narrow {
	/* border: solid 1px green; */
	max-width: 30rem;
}

/* Lottie player */
.page-block > .lottie-wrap {
	/* border: solid 1px green; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	align-content: center;
	pointer-events: none;
}
.page-block lottie-player {
	/* border: solid 1px red; */
	width: 50rem;
	height: 50rem;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto 10% auto;
	z-index: 1;
}

/**
 * Hero content
 */
#hero {
	/* border: solid 1px red; */
	min-height: calc(100vh - 8.5rem);
	align-content: center;
}
#hero > p:not(.intro) {
	font-size: var(--font-size);
	margin: 0;
}
.md-typeset #hero h1 {
	font-size: 4.5rem;
	line-height: 5rem;
	margin: 0;
}
.md-typeset #hero strong.fake-h2 {
	font-size: 1.75rem;
	line-height: 2rem;
	font-weight: 300;
	color: var(--md-default-fg-color);
}
#hero p.intro {
	margin: 1rem 0 2rem 0;
}

/**
 * About
 */

#block-about {
	align-content: baseline;
	margin-bottom: -20rem;
}
#block-about h2 {
	margin-top: 0;
}
#block-about p {
	max-width: 25rem;
}
#block-about #screens-wrap {
	margin-top: -4rem;
}

/**
 * Features
 */
#block-features {
	/* border: solid 1px red; */
	align-content: center;
}
#block-features .features-wrap {
	/* border: solid 1px white; */
	display: flex;
	flex-wrap: wrap;
}
#block-features .features-wrap .feature {
	/* border: dashed 1px white; */
	flex: 0 0 33.333%;
	padding: 1rem;
	display: flex;
	gap: 1rem;
	font-size: var(--font-size);
	line-height: var(--line-height);
}
#block-features .features-wrap .feature svg {
	--size: 3.5rem;
	width: var(--size);
	height: var(--size);
	flex: 0 0 var(--size);
}
#block-features .features-wrap .feature h3 {
	margin: 0;
}

/**
 * Students
 */
#block-students lottie-player {
	margin-bottom: 20%;
	filter: hue-rotate(-30deg) saturate(0.6);
}

/**
 * Enterprise
 */
#block-enterprise lottie-player {
	align-content: center;
	opacity: 1;
}

/**
 * Backgrounds
 */

/* Spinning molecule */
#miew-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: saturate(0);
	mask: radial-gradient(circle at center, black 35%, transparent 100%);
	opacity: 0.3;
	background: var(--carbon-dark-d);
	z-index: -1;
}

/* Background image */
.bg-image {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: var(--carbon-dark-d);
	opacity: 0;
	overflow: hidden;
}
.bg-image::after {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	opacity: 0.5;
}

/* Features */
#bg-features.bg-image {
	/* background: var(--carbon-dark); */
	background: transparent;
	/* z-index: -2; */
}
#bg-features.bg-image::after {
	background: var(--carbon-dark);
	opacity: 0.5;
	/* background-image: url(../_assets_main/home/enterprise-1.jpg); */
}

/* Students */
#bg-students.bg-image::after {
	background: #000;
	/* background: url(../_assets_main/home/students-1.jpg) bottom center no-repeat; */
}

/* Enterprise */
#bg-enterprise.bg-image::after {
	background: var(--carbon-blue-d);
	/* background-image: url(../_assets_main/home/enterprise-1.jpg); */
}

/**
 * Responsive
 */

/* RESPONSOVE < MEDIUM */
@media screen and (max-width: 76.2344em) {
	/* Put about text above screens instead inside */
	#block-about p {
		max-width: 40rem;
	}
	#block-about #screens-wrap {
		margin-top: 4rem;
	}

	/* Collapse features to two columns */
	#block-features {
		max-width: 50rem;
		margin: 0 auto;
	}
	#block-features .features-wrap .feature {
		flex: 0 0 50%;
	}
}

/* RESPONSOVE CUSTOM */
@media screen and (max-width: 780px) {
	/* Remove negative margin under about to make room for stacked screens */
	#block-about {
		margin-bottom: 0;
	}
}

/* RESPONSOVE CUSTOM */
@media screen and (max-width: 640px) {
	/* Main title smaller */
	.md-typeset #hero h1 {
		font-size: 3rem;
		line-height: 3.2rem;
	}

	/* Collapse buttons */
	.md-typeset #hero .intro + p {
		max-width: 25rem;
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;
	}
	.md-typeset #hero .intro + p > a {
		flex: 1 1;
	}
	.md-typeset #hero .intro + p > a.md-button--primary {
		flex-basis: 100%;
	}

	/* Collapse features to one column */
	#block-features .features-wrap .feature {
		flex: 0 0 100%;
		max-width: 22rem;
	}

	/* Move up animation on small vertical screens */
	.page-block lottie-player {
		height: auto;
		margin-bottom: 50%;
	}
}

/* RESPONSOVE CUSTOM */
@media screen and (max-width: 420px) {
	/* Collapse buttons */
	.md-typeset #hero .intro + p > a {
		flex-basis: 100%;
	}
}
