/*

Admonitions
-----------

Admonitions are specially styles blocks for info/warning/etc.

See Style reference for implementation:
	- /main/style-reference.md
	- https://openad.accelerate.science/style-reference/#admonitions

*/

.md-typeset .admonition {
	font-size: var(--font-size);
	border: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0 1rem;
	border-left: solid 3px blue;
}
.md-typeset .admonition .admonition-title {
	border-radius: 0;
	margin-left: -1rem;
}
.md-typeset .admonition ul,
.md-typeset .admonition ol {
	margin-left: 0;
}
